@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/lib/toastr.js/latest/js/toastr.min.js"></script>
    <h2 class="text-success">@TempData["success"]</h2>
}
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/lib/toastr.js/latest/js/toastr.min.js"></script>
    <h2 class="text-success">@TempData["error"]</h2>
}